<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133737027-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133737027-1');
</script>


{{ partial "header.html" . }}

{{ partial "preloader.html" . }}
        
{{ partial "navigation.html" . }}

{{ partial "hero-area.html" . }}

{{ partial "about.html" . }}

{{ partial "service.html" . }}

{{ partial "call-to-action.html" . }}

{{ partial "contact.html" . }}

{{ partial "footer.html" . }}
